@import url("http://fonts.googleapis.com/css?family=Alegreya+Sans+SC");
@import url("http://fonts.googleapis.com/css?family=Black+Ops+One");
@import url("http://fonts.googleapis.com/css?family=Sonsie+One");
/* line 29, ../sass/styles.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 35, ../sass/styles.scss */
body {
  font-family: 'Alegreya Sans SC', sans-serif;
  background-image: url(../img/noise.png);
  background-color: #214422;
  background-size: 20%;
  color: white; }

/* line 44, ../sass/styles.scss */
table {
  width: 100%;
  border-collapse: collapse; }
  /* line 47, ../sass/styles.scss */
  table caption {
    -webkit-border-radius: 25pt;
    -moz-border-radius: 25pt;
    -ms-border-radius: 25pt;
    -o-border-radius: 25pt;
    border-radius: 25pt;
    background-color: rgba(255, 255, 255, 0.055);
    padding: 2pt 12pt;
    margin: 10pt;
    font-size: 1.5em; }
  /* line 55, ../sass/styles.scss */
  table tr {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.1); }
    /* line 57, ../sass/styles.scss */
    table tr:last-child {
      border-bottom: none; }
    /* line 60, ../sass/styles.scss */
    table tr td {
      padding: 0.3em;
      text-align: center; }

/* line 67, ../sass/styles.scss */
a {
  color: #66ccff; }

/* line 70, ../sass/styles.scss */
fieldset {
  border: 0; }

/* line 73, ../sass/styles.scss */
button {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 1em;
  border: 0;
  padding: 5pt; }

/* line 80, ../sass/styles.scss */
h2 {
  font-size: 1.2em; }

/* line 83, ../sass/styles.scss */
ul {
  list-style-type: none; }

/* line 87, ../sass/styles.scss */
.link tr, .index tr {
  transition: 0.5s; }
  /* line 88, ../sass/styles.scss */
  .link tr:hover, .index tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: #ff9900;
    transition: 0.5s; }

/* line 103, ../sass/styles.scss */
.index.games .paging {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between; }
  /* line 106, ../sass/styles.scss */
  .index.games .paging .current {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px; }
  /* line 111, ../sass/styles.scss */
  .index.games .paging span {
    padding: 0.5em; }
/* line 119, ../sass/styles.scss */
.index.games table tr td:nth-child(3), .index.games table tr td:nth-child(4) {
  font-family: 'Black Ops One', cursive;
  font-size: 1.70em; }

/* line 128, ../sass/styles.scss */
div#navigation, #content, #footer {
  padding: 1em; }

/* line 132, ../sass/styles.scss */
div#container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  max-width: 64em;
  margin: 0 auto; }

/* line 139, ../sass/styles.scss */
div#header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: end;
  -moz-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end; }
  /* line 144, ../sass/styles.scss */
  div#header a {
    text-decoration: none;
    transition: 1s; }
    /* line 147, ../sass/styles.scss */
    div#header a:hover {
      transition: 0.2s; }
  /* line 152, ../sass/styles.scss */
  div#header #logo {
    padding-bottom: 6pt;
    font-family: 'Sonsie One', cursive;
    margin-right: auto;
    font-size: 4.5em; }
    /* line 157, ../sass/styles.scss */
    div#header #logo a {
      display: block;
      color: white;
      opacity: 0.2; }
      /* line 161, ../sass/styles.scss */
      div#header #logo a:hover {
        opacity: 0.5; }
  /* line 167, ../sass/styles.scss */
  div#header ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 18em;
    border-top: 3px dashed rgba(255, 255, 255, 0.2);
    font-size: 1.75em; }
    /* line 174, ../sass/styles.scss */
    div#header ul a {
      opacity: 0.5; }
      /* line 176, ../sass/styles.scss */
      div#header ul a:hover {
        opacity: 1; }
    /* line 181, ../sass/styles.scss */
    div#header ul li {
      display: inline; }

/* line 189, ../sass/styles.scss */
div#wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: row wrap-reverse;
  -webkit-flex-flow: row wrap-reverse;
  flex-flow: row wrap-reverse;
  border: 7px solid rgba(255, 255, 255, 0.2); }

/* line 197, ../sass/styles.scss */
div#navigation {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  border-right: 3px dashed rgba(255, 255, 255, 0.2);
  min-width: 13.8em; }
  /* line 202, ../sass/styles.scss */
  div#navigation li {
    padding: 3pt;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2); }
    /* line 205, ../sass/styles.scss */
    div#navigation li:first-child {
      padding-top: 0; }
    /* line 208, ../sass/styles.scss */
    div#navigation li:last-child {
      border-bottom: none; }
  /* line 213, ../sass/styles.scss */
  div#navigation .ranking {
    margin-top: 1em;
    margin-bottom: 1em; }
    /* line 217, ../sass/styles.scss */
    div#navigation .ranking td {
      padding: 0.2em; }
      /* line 219, ../sass/styles.scss */
      div#navigation .ranking td:nth-child(3) {
        color: #ff9900;
        font-size: 1.2em; }

/* line 230, ../sass/styles.scss */
div#content {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -ms-flex: 3;
  -webkit-flex: 3;
  flex: 3;
  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0.2);
  min-width: 20em; }
  /* line 239, ../sass/styles.scss */
  div#content .score {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    -webkit-align-content: center;
    align-content: center;
    font-family: 'Black Ops One', cursive;
    font-size: 4em;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.75); }
    /* line 247, ../sass/styles.scss */
    div#content .score li {
      display: inline;
      padding: 0 20pt 0 20pt;
      -webkit-border-radius: 12px 12px;
      -moz-border-radius: 12px / 12px;
      border-radius: 12px / 12px; }
      /* line 251, ../sass/styles.scss */
      div#content .score li:first-child {
        background-color: #ae130e; }
      /* line 254, ../sass/styles.scss */
      div#content .score li:last-child {
        background-color: black; }
  /* line 260, ../sass/styles.scss */
  div#content .teamsContainer {
    padding: 20pt 0 20pt 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-line-pack: center;
    -webkit-align-content: center;
    align-content: center;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch; }
    /* line 268, ../sass/styles.scss */
    div#content .teamsContainer li {
      display: inline; }
    /* line 283, ../sass/styles.scss */
    div#content .teamsContainer .team {
      padding: 10pt;
      width: 18em; }
      /* line 286, ../sass/styles.scss */
      div#content .teamsContainer .team ul {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between; }
      /* line 290, ../sass/styles.scss */
      div#content .teamsContainer .team .vermelhos span {
        background-color: #ae130e; }
      /* line 293, ../sass/styles.scss */
      div#content .teamsContainer .team .pretos span {
        background-color: black; }
      /* line 296, ../sass/styles.scss */
      div#content .teamsContainer .team .banco span {
        background-color: rgba(255, 255, 255, 0.1); }
      /* line 299, ../sass/styles.scss */
      div#content .teamsContainer .team span {
        padding: 5pt; }
      /* line 305, ../sass/styles.scss */
      div#content .teamsContainer .team .null {
        color: #999999; }
        /* line 306, ../sass/styles.scss */
        div#content .teamsContainer .team .null a {
          color: #999999; }
      /* line 312, ../sass/styles.scss */
      div#content .teamsContainer .team td {
        padding: 5pt 0pt 5pt 0pt; }
      /* line 318, ../sass/styles.scss */
      div#content .teamsContainer .team .orange {
        color: #ff9900;
        font-size: 20pt; }
      /* line 322, ../sass/styles.scss */
      div#content .teamsContainer .team .button {
        padding: 0; }
      /* line 326, ../sass/styles.scss */
      div#content .teamsContainer .team .OK button:hover {
        background-color: green; }
      /* line 331, ../sass/styles.scss */
      div#content .teamsContainer .team .NA button:hover {
        background-color: red; }

/* line 345, ../sass/styles.scss */
div#footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  opacity: 3.5; }
